body {
	background: #e6f9ff;
}

button {
	background: #99e6ff;
	color: white;
	font-size: 24px;
	display: inline-block;
	padding: 10px;
	border-radius: 8px;
}
/*
button:focus {
	background: #4dd2ff;
	
}*/

input[type=text]{
	color:white;
	background-color: #99e6ff;
	font-size: 23px;
	padding: 10px;
	border-radius: 8px;
	
	margin-left: auto;
	margin-right: auto;
}

input[type=submit]{
	margin-top: 4px;
	opacity: .83;
	font-size: 26pt;
	width: 255px;
}

p {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.focused {
	background: #4dd2ff;
}


#buttonshere{
	margin-left: 10px;
	margin-top: 10px;
}

#button-form{
	display: inline;
	float:right;
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 12px;
	padding-left: 30px;
	padding-right: 30px;
	border-style: solid;
	border-color: slategray;
	border-width: 3px;
	clear: both;
	border-radius: 12px;

}

#gifsAppearHere div {
	display:inline-block;
	margin-left: 5px;
}

#ratings{
	display: inline-block;
	float:right;
	margin-top: 15px;
	padding-bottom: 12px;
	padding-left: 30px;
	padding-right: 30px;
	border-style: solid;
	border-color: slategray;
	border-width: 3px;
	clear: both;
	border-radius: 12px;
}



